@model Cliente_UI.Models.Tour

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tour</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tour_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tour_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tour_Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tour_Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tour_Imagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tour_Imagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ced_juridica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ced_juridica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dias_disponibles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dias_disponibles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
